## Ejercicios - Lists

In [2]:
lista = ["a", "b", "c", "d", "e", 1, 2, 3, 4, 5, False, True]

### Ejercicio 1
- En listas separadas obtener una lista paras los caracteres, otra para los enteros y otra para lo booleanos, utilizando slicing.
- Llamalas **lista_1**, **lista_2**, **lista_3** respectivamente.

In [11]:
# Definimos las variables

lista_1 = lista [0:5]
lista_2 = lista [5:10]
lista_3 = lista [10:]

# Imprimos los resultados
print("Lista número 1", lista_1)
print("Lista número 2", lista_2)
print("Lista número 3", lista_3)

Lista número 1 ['a', 'b', 'c', 'd', 'e']
Lista número 2 [1, 2, 3, 4, 5]
Lista número 3 [False, True]

### Ejercicio 2
- Insertar las vocales faltantes a la lista de caracteres.

In [12]:
# Definimos las variables

lista_1 = lista [0:5]
lista_2 = lista [5:10]
lista_3 = lista [10:]
lista_4 = ["a","e","i","o","u"]

lista.insert(0, lista_4)

# Imprimos los resultados
print("Lista número 1", lista_1)
print("Lista número 2", lista_2)
print("Lista número 3", lista_3)
print("Lista número 4", 0, lista_4)

Lista número 1 ['a', 'b', 'c', 'd', 'e']
Lista número 2 [1, 2, 3, 4, 5]
Lista número 3 [False, True]
Lista número 4 0 ['a', 'e', 'i', 'o', 'u']

### Ejercicio 3
- Eliminar los caracteres que no son vocales de la lista de caracteres.

In [13]:
lista = ["a", "b", "c", "d", "e", 1, 2, 3, 4, 5, False, True]

vocales = {"a", "e", "i", "o", "u"}
resultado = [x for x in lista if x in vocales]
print(resultado)

['a', 'e']

### Ejercico 4
- De la lista inicial (**lista**) reemplazar los elementos boleanos por 0 y 1 respectivamente.

In [15]:
lista = ["a", "b", "c", "d", "e", 1, 2, 3, 4, 5, False, True]

for x in range(len(lista)):
    if lista[x] is False:
        lista[x] = 0 
    elif lista[x] is True:
        lista[x] = 1
print(lista)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 0, 1]

### Ejercicio 5
- Aplicar el metodo **.reverse()** a la lista de números.

### Ejercicio 6
- Aplicar el método **.sort()** a la lista de números.

### Ejercicio 7
- Une las 3 listas para formar la lista inicial otra vez.

### Ejercicio 8
- Dada la siguiente lista de empresas:
    1. Ordenar cada lista dentro de la lista de empresas en orden alfabetico.
    2. Obtener las empresas: Audi, Avianca y KLM, mediante sus índices y crear una nueva lista con esos elementos.

In [ ]:
empresas = [["Cocacola", "Pepsi"],
            ["Meta", "TW", "IG"],
            ["Ferrari", "Audi", "Ford", "Nissan"],
            ["KLM", "AA", "Iberia", "AE", "Avianca"]]

empresas

In [ ]:
##############################################################################################################################